.questions {
  .section-header {
    .section-heading {
      margin-bottom: 10px;
    }

    .section-subheading {
      font-size: 30px;
      margin-top: 0px !important;
      margin-bottom: 50px !important;
    }
  }

  .hedg-logo {
    width: 100%;
    height: 60px;
  }
}
