// Styling for the navbar
nav.navbar {
  padding: 0;

  .container {
    padding: 1rem;
  }
}

.navbar-root {
  .navbar-toggler {
    font-size: 18px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white !important;
    border: 0;
    background-color: $primary;
    @include heading-font;
  }
  .navbar-brand {
    color: $primary !important;
    @include script-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }
  }
  .navbar-collapse {
    background-color: $light;
  }
}
@media (min-width: 992px) {
  nav.navbar-root {
    padding-top: 0;
    padding-bottom: 0;
    .container {
      padding: 1rem calc(35px + 1rem);
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: transparent;
    }

    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    &.navbar-shrink {
      .container {
        padding-top: 0;
        padding-bottom: 0;
        background-color: $light;
      }
      
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }

  .logo-root {
    width: 140px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .logo-shrink {
    width: 120px;
  }
}
