.nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: $primary !important;
  @include heading-font;
  &.active {
    color: $success !important;
  }

  &:hover {
    color: $secondary !important;
  }
}
@media (min-width: 992px) {
  .nav-link {
    padding: 1.1em 1.5em !important;
  }
}
