.description-col {
  height: 340px;


  .what-is-container {
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: $light;

    .what-is-step {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin: 30px;
    }
  
    .what-is-1 {
      background-image: url("../../content/assets/images/whatis/step1whatis.svg");
    }
  
    .what-is-2 {
      background-image: url("../../content/assets/images/whatis/step2whatis.svg");
    }
  
    .what-is-3 {
      background-image: url("../../content/assets/images/whatis/step3whatis.svg");
    }
  
    .what-is-4 {
      background-image: url("../../content/assets/images/whatis/step4whatis.svg");
    }
  }
}
