.contact {
  .image {
    height: 100%;
    max-height: 400px;
  }

  .form-group.col {
    padding: 0;
    width: 80%;

    @media (max-width: 900px) {
      width: 100%;
    }
  }
}

.form-label {
  font-family: "Montserrat";
}
