// Styling for the process section
.process {
  position: relative;
  padding: 0;
  list-style: none;

  .col {
    padding: 0 25px;
  }

  &:before {
    position: absolute;
    top: 25%;
    left: 10%;
    bottom: 0;
    height: 2px;
    width: 80%;
    content: "";
    background-color: $primary;

    @media (max-width: 1000px) {
      width: 0;
    }
  }
}
@media (min-width: 768px) {
  .timeline {
    &:before {
      left: 50%;
    }
  }
}
