// Styling for the process section
.process {
  position: relative;
  padding: 0;
  list-style: none;
  &:before {
    position: absolute;
    top: 25%;
    bottom: 0;
    height: 2px;
    width: 100%;
    content: "";
    background-color: $primary;
  }
}
@media (min-width: 768px) {
  .timeline {
    &:before {
      left: 50%;
    }
  }
}
