.rec-carousel {
  min-height: 400px
}

.rec-slider,
.rec-carousel-item > *,
.rec-item-wrapper {
  height: 100%;
}

.single-slide {
  padding: 40px 20px;
  margin: 10px;
  color: white;
}

.pagination {
  display: flex;

  .page-btn {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
    border-style: solid;
    background-color: $light;
    border-color: $warning;
  }

  .page-btn-active {
    background-color: $warning;
    border-color: $warning;
    box-shadow: none;
  }
}
